*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header-body{
    position: sticky; top: 0;
    height:50px;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: black;
}
.header-text{
    text-indent: 50px;
    color:aliceblue;   
}