*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header-body{
    position: sticky; 
    padding: 20px;
    top: 0;
    height:50px;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: blue;
}
.header-text{
    text-indent: 50px;
    color:aliceblue;   
    cursor:pointer;
    padding:10px;
    margin:10px;
}
.header-icon{
    margin-right:auto;
}
