@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Work+Sans:ital,wght@0,500;1,400&display=swap');

:root {
  scroll-behavior: smooth;
  --_prim-blue: #226CE0;
  --_second-blue: #5998C5;
  --_accent-orange: #F49E4C;
  --_dark: #2A2B2E;
  --_light: #EAF0F3;
  --_mid-grey: #8C8C8C;
  --_pure-white: #FFFFFF;
  --_pure-black: #000000;
  --_accent-yellow: #f1bf19;
  --_def-grey: #D9D9D9;
  --_gradient-blue: linear-gradient(90deg, #4674BC 0.16%, #5998C5 68.63%);
  --_red-transparent: #be21216a;
  --_red: #b73d3d;
  
  --_worksans: 'Work Sans', sans-serif; /* 400 regular-italic, 500 medium */
  --_inter: 'Inter', sans-serif; /* 400 regular, 700 bold */

  --_box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.30);

}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

